.careers-container {
  background-image: linear-gradient(var(--main-green), white);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: 0rem;
}

/* For Header.jsx */
.careers-header {
  text-align: center;
  padding-top: 3em;
  height: 250px;
}

.careers-header h1 {
  padding-top: 1.5em;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

/* For Application.jsx */
.app-container {
  background: white;
  width: 88%;
  height: auto;
  padding-bottom: 8rem;
}

.app-content {
  padding-top: 0;
}

.app-content h2 {
  position: relative;
  top: 4.1em;
  color: white;
  z-index: 2;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.careers-image {
  text-align: center;
  filter: brightness(0.6)
}

.careers-image img {
  width: 90%;
  object-fit: cover;
}

.app-text {
  display: block;
  text-align: left;
  padding-top: 3em;
  padding-left: 4.3vw;
  padding-right: 4.3vw;
}

.app-text h3 {
  color: var(--main-green);
  font-weight: 500;
  font-size: 1.88rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

.app-text p {
  padding-top: 1em;
  font-size: 1rem;
  font-weight:300;
  letter-spacing: 1px;
}

.apply {
  margin-top: 4em;
  text-align: center;
}

.apply p {
  font-weight: 500;
  letter-spacing: 1.5px;
}

.apply-btn {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 20px 40px;
  background: #1c8d58;
  color: white;
  margin-top: 5em;
  position: relative;
  transition: background 300ms;
}

.apply-btn:hover {
  background: hsla(0, 0%, 92%, 0.3);
  transition: background 300ms;
}

.apply-btn:active {
  transform: scale(0.98);
}

.application-backdrop {
  background: hsl(0, 0%, 0%, 40%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0em;
  left: 0em;
  z-index: 102;
}

.app-card {
  position: absolute;
  border-radius: 5px;
  top: 1em;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom,  var(--btn-green) 0%, var(--btn-green) 10%,#ffffff 10%,#ffffff 100%);
  margin: auto;
  width: 580px;
  height: 670px;
  box-shadow: 5px 5px 30px 5px hsl(0, 0%, 0%, 60%);
  z-index: 102;
}

/* to close application form */
.app-card .app-btn {
  float: right;
  margin-top: 1.3em;
  margin-right: 1em;
}

.app-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.app-btn:active {
  transform: scale(0.90);
}

.app-card img {
  padding-top: 0.4em;
  margin-left: 2.5em;
}

.app-form {
  display: block;
  padding-top: 1.5em;
}

.app-form h3 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.form-content {
  border-top: 1px solid hsl(0, 0%, 0%, 10%);
  border-bottom: 1px solid hsl(0, 0%, 0%, 10%);
  position: relative;
  margin: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  max-height: 30rem;
  overflow-y: auto;
}

.form-content input {
  position: relative;
  top: 0rem;
  width: 100%;
  height: 50px;
  border: 1px solid hsl(0, 0%, 0%, 30%);
  border-radius: 5px;
  margin-top: 1rem;
  padding-left: 1em;
}

.form-content select {
  color: black;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 100% 50%;
  appearance: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1em;
  height: 50px;
  width: 100%;
  border: 1px solid hsl(0, 0%, 0%, 30%);
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.form-content .input-error {
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: left;
  color: red;
  margin-top: 0rem;
  margin-bottom: rem;
}

.form-content .input-error::before {
  display: inline;
  content: "⚠ ";
}

.form-content .error {
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 500;
  color: red;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.form-content .error::before {
  display: inline;
  content: "⚠ ";
}

.job p {
  letter-spacing: 1px;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  position: relative;
  margin-top: -1rem;
}

.rtw p {
  letter-spacing: 1px;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  position: relative;
  margin-top: 0rem;
}

.cv {
  position: relative;
  text-align: center;
  margin-top: 0rem;
}

.cv span {
  position: relative;
  display: none;
}

.button-upload {
  color: white;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
  height: 50px;;
  border: none;
  border-radius: 5px;
  background: var(--btn-green);
  transition: 
    background 300ms,
    color 300ms;
}

.button-upload:hover {
  background: hsla(0, 0%, 92%, 0.3);
  color: black;
  transition: 
    background 300ms,
    color 300ms;
}

.button-upload p {
  position: relative;
  top: -0.5em;
  font-size: 0.88rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
}

.button-upload:active {
  transform: scale(0.98);
}

.job {
  position: relative;
  top: 1rem;
}

.submit-btn {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 200px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 4px;
  letter-spacing: 1.5px;
  border: none;
  padding: 1rem;
  background: #1c8d58;
  color: white;
  transition: background 300ms;
}

.submit-btn:hover {
  background: hsla(0, 0%, 92%, 0.3);
  color: black;
  transition: background 300ms, black 300ms;
}

.submit-btn:disabled {
  cursor: default;
  opacity: 0.5;
  transform: scale(1) !important;
}

.submit-btn:hover:disabled {
  background: var(--btn-green);
  color: white;
}

.submit-btn:active {
  transform: scale(0.98);
}

.submit-btn button {
  font-size: 14px;
}

@media all and (max-width: 1000px) {
  .app-container {
    width: 100vw;
  }

  .app-text {
    text-align: justify;
  }

  .close-div {
    left: 73%;
    right: 73%;
  }

  .form-content input:invalid[data-focused="true"] ~ span {
    padding-left: 6.3vw;
  }

  .form-content select:invalid[data-focused="true"] ~ span {
    padding-left: 6.3vw;
  }

  .careers-container {
    background-image: linear-gradient(var(--main-green), hsl(0, 0%, 100%));
    width: 100vw;
  }
}

@media all and (max-width: 600px) {
  .app-content h2 {
    position: relative;
    top: 3.8em;
    color: white;
    z-index: 2;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
  }

  .app-card {
    width: 95%;
  }
  
  .close-div {
    left: 80%;
    right: 80%;
  }

  .form-content input:invalid[data-focused="true"] ~ span {
    padding-left: 9.3vw;
  }

  .form-content select:invalid[data-focused="true"] ~ span {
    padding-left: 9.3vw;
  }
}