.coming-soon-container {
  background: #e1e1e1;
  height: 1000px;
}

.coming-soon-container h1 {
  font-size: 3rem;
  padding-top: 15rem;
  position: relative;
  text-align: center;
  z-index: 101;
  color: var(--main-beige);
}

.coming-soon-container img {
  object-fit: cover;
  object-position: 50% 80%;
  position: absolute;
  z-index: 100;
  top: -4rem;
}
