.menu-header {
  background: var(--main-green);
  position: relative;
  text-align: center;
  padding-top: 3em;
  height: 80px;
  box-shadow: 1px 1px 10px 1px hsl(0, 0%, 73%);
}

.menu-header h1 {
  padding-top: 1.5em;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: black;
}

.menu-page {
  background: white;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.menu-page p {
  color: black;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.menu-page img {
  margin-top: 2rem;
  object-fit: contain;
  box-shadow: 2px 2px 10px 2px hsl(0, 0%, 0%, 10%);
}

@media all and (max-width: 620px) {
  .menu-page img {
    width: 95%;
  }
}