.submit-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
}

.submit-nav {
  padding: 1em 1em;
  display: flex;
  gap: 2em;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.submit-nav a {
  text-decoration: none;
  color: black;
}

.application-sent {
  margin-top: 9rem;
  text-align: center;
}

.application-sent p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  font-weight: 400;
}

@media all and (max-width: 1000px) {
  .submit-nav {
    justify-content: center;
  }
      
}